<!-- main/templates/main/home.html -->
{% extends "main/base.html" %}

{% block content %}

<div class="about-me">
    <h2>Sobre Mí</h2>
    <p>{{ about_me.bio }}</p>
    {% if user.is_authenticated %}   
        <a href="{% url 'edit_about_me' %}" class="edit-button">Editar</a>
    {% endif %}
</div>

<h2>Skills</h2>
    {% if user.is_authenticated %}
        <a href="{% url 'add_skill' %}">Agregar Skill</a>
    {% endif %}
    {% for skill in skills %}
        <div>
            <h3>{{ skill.title }}</h3>
            <p>{{ skill.description }}</p>
            {% if user.is_authenticated %}
                <a href="{% url 'edit_skill' skill_id=skill.id %}">Editar</a>
            {% endif %}
        </div>
    {% endfor %}

    <h2>Developments</h2>
    {% if user.is_authenticated %}
        <a href="{% url 'add_development' %}">Agregar Development</a>
    {% endif %}
    {% for development in developments %}
        <div>
            <h3>{{ development.title }}</h3>
            <p>{{ development.description }}</p>
            {% if development.image %}
                <img src="{{ development.image.url }}" alt="{{ development.title }}" style="max-width: 200px;">
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'edit_development' development_id=development.id %}">Editar</a>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
