<!-- main/templates/main/home.html -->
{% extends "main/base.html" %}

{% block content %}

<div class="about-me">
    <h2>Sobre Mí</h2>
    <p>{{ about_me.description }}</p>
    {% if user.is_authenticated %}   
        <a href="{% url 'edit_about_me' %}" class="edit-button">Editar</a>
    {% endif %}
</div>

<div class="skills">
    <h2>Habilidades</h2>
    <ul>
        {% for skill in skills %}
            <li>{{ skill.name }}: {{ skill.level }}</li>
            {% if user.is_authenticated %}
                <a href="{% url 'edit_skill' skill_id=skill.id %}" class="edit-button">Editar</a>
            {% endif %}
        {% endfor %}    
    </ul>
</div>

<div class="developments">
    <h2>Desarrollos</h2>
    <ul>
        {% for development in developments %}
            <li>{{ development.name }}: {{ development.description }}</li>
            {% if user.is_authenticated %}
                <a href="{% url 'edit_development' development_id=development.id %}" class="edit-button">Editar</a>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% endblock %}
