html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#content {
    position: relative;
    z-index: 1;
    color: #fff;
}

header {
    position: relative;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* Ajusta el tamaño según tus necesidades */
    margin: 0;
    border-radius: 50%;   
}

.banner {
    text-align: center;
    flex: 1;
    margin: 0;
}

.banner h1 {
    margin: 0;
    font-size: 2em;
    color: #fff; /* Ajusta el color del texto según sea necesario */
}

.banner img {
    display: block;
    margin: 0 auto;
    max-height: 180px; /* Ajusta la altura máxima de la imagen */
    padding: 0; /* Asegúrate de que no haya padding extra */
}


.social-links {
    display: flex;
    gap: 10px;
    margin: 0;;
}

.social-links a img {
    height: 30px; /* Ajusta el tamaño de los iconos de redes sociales */
    vertical-align: middle;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}
