{% load static %}

{% load static image_filters %}


<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Butterfield{% endblock %}</title>

    <script src="https://kit.fontawesome.com/16c678032e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-circle-progress/dist/circle-progress.min.js" type="module"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    {% block extra_head %}
        <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    {% endblock %}

</head>
<body>

    <video id="video-background" autoplay muted loop>
        <source src="{% static 'main/img/video_back_full_animation.mp4' %}" type="video/mp4">
    </video>

    <header>
        <div class="header-container" id="inicio">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'main/img/logo_redondo-nb_1.jpeg' %}" alt="Logo">
                </a>
            </div>
            <div class="banner">
                <img src="{% static 'main/img/nombre_banner.png' %}" alt="Facebook">
            </div>
            <div class="social-links">
                <a href="https://github.com/NicoButter" target="_blank" class="social-icon"><i class="fa-brands fa-github"></i></a>
                <a href="https://soundcloud.com/user-785671138/perda" target="_blank" class="social-icon"><i class="fa-brands fa-soundcloud"></i></a>
                <a href="https://linkedin.com/in/nicolás-butterfield-9964aa1a3" target="_blank" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</li>
                <li><a href="#sobre-mi">Sobre Mí</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#desarrollos">Desarrollos</a></li>
                {% if user.is_authenticated %}
                    <li><a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a></li>
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Nicolas Butterfield. Todos los derechos reservados.</p>
    </footer>
</body>

</html>

