{% extends "main/base.html" %}

{% load static image_filters %}

{% load static %}

{% block content %}

<div class="about-me" id="sobre-mi">
    <h2>Sobre Mí</h2>
    <p>{{ about_me.bio }}</p>
    {% if user.is_authenticated %}   
        <a href="{% url 'edit_about_me' %}" class="edit-button">Editar</a>
    {% endif %}
</div>

<div class="skills" id="habilidades">
    <h2>My Skills</h2>
    {% if user.is_authenticated %}
        <a href="{% url 'add_skill' %}" class="add-button">Agregar Skill</a>
    {% endif %}
    {% for skill in skills %}
    <div class="skill-item">
        <div class="skill-container">
            <circle-progress value="{{ skill.progress }}" max="100" text-format="percent"></circle-progress>
            {% if skill.image %}
                
                <img src="{{ skill.image|image_data }}" alt="{{ skill.name }}" class="skill-logo">

                {% comment %} <img src="{{ skill.image.url }}" alt="{{ skill.name }}" class="skill-logo"> {% endcomment %}
            {% else %}
                <img src="{% static 'main/img/porta_circulo.png' %}" alt="Default Image" class="skill-logo">
            {% endif %}
        </div>
        <h3>{{ skill.name }}</h3>
        <p>{{ skill.description }}</p>
        {% if user.is_authenticated %}
            <a href="{% url 'edit_skill' skill_id=skill.id %}" class="edit-button">Editar</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

<div class="developments" id="desarrollos">
    <h2>My Developments</h2>
    {% if user.is_authenticated %}
        <a href="{% url 'add_development' %}" class="add-button">Agregar Development</a>
    {% endif %}
    {% for development in developments %}
        <div class="development-item">
            <h3>{{ development.title }}</h3>
            <p>{{ development.description }}</p>
            {% if development.image %}
                
                <img src="{{ development.image|image_data }}" alt="{{ development.title }}" style="max-width: 200px;">


                {% comment %} <img src="{{ development.image.url }}" alt="{{ development.title }}" style="max-width: 200px;"> {% endcomment %}
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'edit_development' development_id=development.id %}" class="edit-button">Editar</a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}









{% comment %} {% extends "main/base.html" %}

{% load static %}

{% block content %}

<div class="about-me" id="sobre-mi">
    <h2>Sobre Mí</h2>
    <p>{{ about_me.bio }}</p>
    {% if user.is_authenticated %}   
        <a href="{% url 'edit_about_me' %}" class="edit-button">Editar</a>
    {% endif %}
</div>

<div class="skills" id="habilidades">
    <h2>My Skills</h2>
    {% if user.is_authenticated %}
        <a href="{% url 'add_skill' %}" class="add-button">Agregar Skill</a>
    {% endif %}
    {% for skill in skills %}
    <div class="skill-item">
        <div class="skill-container">
            <circle-progress value="{{ skill.progress }}" max="100" text-format="percent"></circle-progress>
            {% if skill.image %}
                <img src="{{ skill.image.url }}" alt="{{ skill.name }}" class="skill-logo">
            {% else %}
                <img src="{% static 'main/img/porta_circulo.png' %}" alt="Default Image" class="skill-logo">
            {% endif %}
        </div>
        <h3>{{ skill.name }}</h3>
        <p>{{ skill.description }}</p>
        {% if user.is_authenticated %}
            <a href="{% url 'edit_skill' skill_id=skill.id %}" class="edit-button">Editar</a>
        {% endif %}
    </div>
    {% endfor %}
</div>


<div class="developments" id="desarrollos">
    <h2>My Developments</h2>
    {% if user.is_authenticated %}
        <a href="{% url 'add_development' %}" class="add-button">Agregar Development</a>
    {% endif %}
    {% for development in developments %}
        <div class="development-item">
            <h3>{{ development.title }}</h3>
            <p>{{ development.description }}</p>
            {% if development.image %}
                <img src="{{ development.image.url }}" alt="{{ development.title }}" style="max-width: 200px;">
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'edit_development' development_id=development.id %}" class="edit-button">Editar</a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %} {% endcomment %}
