html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#content {
    position: relative;
    z-index: 1;
    color: #fff;
}

header {
    position: relative;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
    margin: 0;
    border-radius: 50%;
}

.logo img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.banner {
    text-align: center;
    flex: 1;
    margin: 0;
}

.banner h1 {
    margin: 0;
    font-size: 2em;
    color: #fff;
}

.banner img {
    display: block;
    margin: 0 auto;
    max-height: 180px;
    padding: 0;
}

.social-links {
    display: flex;
    gap: 10px;
    margin: 0;
    margin-right: 15px;
}

.social-icon {
    display: inline-block;
    color: #007bf8;
    font-size: 24px;
    transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
    color: #007bff;
    transform: scale(1.1);
}

nav {
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/********************************************************************************************************************/

main {
    padding: 20px;
    max-width: 500px;
}

/********************************************************************************************************************/

.about-me {
    width: 100%;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(249, 249, 249, 0.01);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    float: left;
}


.about-me h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.about-me p {
    font-size: 1em;
    line-height: 1.6;
}

.developments {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
    background-color: rgba(249, 249, 249, 0.01);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    width: 100%;
    /* max-width: 400px; */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    clear: both;
}

/********************************************************************************************************************/

circle-progress {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

circle-progress::part(circle) {
    stroke: #ddd;
    stroke-width: 2px;
}

circle-progress::part(value) {
    stroke: rgb(224, 125, 11);
    stroke-width: 2px;
}

circle-progress::part(text) {
    font-family: "Georgia";
    font-size: 13px;
}

circle-progress {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
}

.circle-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    font-size: 1.2em; 
    color: #fff; 
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
    justify-content: center; 
    background-color: rgba(249, 249, 249, 0.01);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    width: 100%;
    /* max-width: 400px;  */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    margin-bottom: 20px;
    float: none;
}

.skill-item {
    position: relative;
    width: 150px; 
    height: 250px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 10px; 
}

.skill-container {
    position: relative;
    display: inline-block;
    width: 150px; 
    height: 150px; 
} 

.skills-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333; 
}

.skill-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px; 
    height: 60px;
    object-fit: cover; 
    z-index: 1; 
}

.skill-item h3 {
    margin: 5px 3; 
    font-size: 1em; 
}

.skill-item p {
    margin: 0; 
    font-size: 0.9em; 
    width: 80%; 
    text-align: center; 
    overflow-wrap: break-word;
    text-align: center;
    justify-content: right;
    
}

.add-button,
.edit-button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
}

.add-button:hover,
.edit-button:hover {
    background-color: #0056b3;
}

/********************************************************************************************************************/

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    color: #fff;
}

/* *********************************************************************************************** */

button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/***************************************************************************************************/

.login-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin-top: 0;
}

.tablet-image {
    position: relative;
    width: 500px;
    height: 700px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 0;
}

.tablet-image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    position: relative;
    width: 80%;
    /* padding: 20px; */
    /* background: white; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #333;
}
